* {
    box-sizing: border-box;
}
html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(219, 69, 69);
    
    font-family: 'Arial', sans-serif;
}
.container h1 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    
    border-color: white;
    border-collapse: separate;
    padding: 10px;
    border-radius: 15px;
}
.nice-wrap {
    position: relative;
    width: 500px;
    height: 100px;
    margin: 0 auto;
    display: flex;
      align-items: center;
    
}
.nice-label {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 16px;
    color: #a0a0a0;
    transition: all 0.25s ease;
}
.nice-label.focus {
    top: -25px;
    left: 5px;
    font-size: 14px;
    color: #fff;
}
.nice-textbox {
    position: relative;
    display: block;
    width: 500px;
    margin-top: 50px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #080404;
    outline: none;
    margin-bottom: 50px;
    margin-left: -62px;
    margin-right: 10px;
    
}

  body .btn-bg.bg-1 .btn-1 button {
    color: #ecefed;
    padding: 14px 32px;
    font-size: 16px;
    background: transparent;
    border: 3px solid #eaeceb;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .btn-bg.bg-1 .btn-1 button a {
    color: #b2f3cf;
  }
  body .btn-bg.bg-1 .btn-1 button:hover {
    background: #b2f3cf;
    color: #3cad7e;
    border: 3px solid #3cad7e;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  body .btn-bg.bg-1 .btn-1 button:hover >a {
    color: #3cad7e;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  body .btn-bg.bg-1 .btn-1 button:active {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: left;
  }
 